<div class="container">
  <div class="row">

    <h1 class="col-sm">{{cinema}}</h1>

    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Choose Cinema
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="getFilmTimes(211, 'BFI Imax')">BFI Imax</a>
        <a class="dropdown-item" href="#" (click)="getFilmTimes(105, 'ODEON Luxe Leicester Square')">ODEON Luxe
          Leicester Square</a>
      </div>
    </div>
  </div>
  <div class="row">


  </div>
  <div class="row">
    <div *ngFor="let film of films" class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <img class="card-img-top" src="{{film.media.imageUrl400}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.odeon.co.uk/films/book/{{film.masterId}}">{{film.title}}</a></h5>
          <p class="card-text">{{film.showdates}}</p>
          
        </div>
      </div>
    </div>
  </div>
</div>